.container {
	max-width: 1170px;
	margin: 0 auto;
}
.header {
	margin-bottom: 120px;
}
.header__top {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.header__top_logo {
	display: flex;
	gap: 10px;
	align-items: center;
}
.header__top_text {
	display: flex;
	font-weight: bold;
	font-size: 24px;
}
.header__top_text span:last-child {
	color: #f25822;
}
.header__top_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	font-weight: medium;
}

.header__top_nav a:first-child {
	color: #f25822;
}
.header__top_btn {
}
.header__top_nav a:nth-child(4) {
	position: relative;
	padding-right: 15px;
}
.header__top_nav a:nth-child(4)::after {
	content: "^";
	transform: rotate(180deg);
	position: absolute;
	top: -40%;
	right: 0;
	font-size: 20px;
}

.btn {
	font-size: 14px;
	color: white;
	background: #f25822;
	width: 140px;
	height: 40px;
	border-radius: 30px;
	font-weight: semibold;
}
.main__btn_start {
	height: 50px;
}
.btn__video_icon {
	display: flex;
	position: relative;
	width: 30px;
	height: 30px;
	border: 4px solid #dddddd;
	border-radius: 50%;
}
.btn__video_icon img {
	position: absolute;
	top: 26%;
	right: 25%;
}
.main {
}
.main__head {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 80px;
}
.main__head_info {
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 522px;
}

.main__info {
	padding-top: 40px;
}
.main__info_title {
	font-size: 60px;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
}
.textForBorder {
	position: relative;
	z-index: 10;
}
.textForBorder_border {
	/* 	border: 1px solid #f25822;
	border-radius: 80%;
	padding: 1px 0 8px 0; */
	content: url(img/main/border_text.png);
	position: absolute;
	left: -23px;
	top: -3px;
}
.main__info_txt {
	color: #888888;
	font-weight: medium;
	font-size: 20px;
}
.main__info_btn {
	display: flex;
	align-items: center;
	gap: 30px;
}
.main__head_img {
	width: 610px;
	padding-right: 70px;
}
.main__btn_video {
	display: flex;
	align-items: center;
	gap: 15px;
	color: #dddddd;
	font-weight: bold;
}
.main__nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.iconsCards {
	background: #ffffff;
	padding: 80px 0;
	margin-bottom: 80px;
}
.iconsCards__list {
	display: flex;
	justify-content: space-between;
}
.iconsCards__item {
	max-width: 370px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.iconsCards__item img {
	max-width: 70px;
}
.iconsCard__title {
	font-weight: bold;
	font-size: 30px;
}
.iconsCard__text {
	font-size: 15px;
	color: #666666;
}
.iconsCard__open {
	font-weight: bold;
	font-size: 11px;
}

.iconsCards__item:nth-child(2) {
	box-shadow: -2px 0px 35px 1px rgba(34, 60, 80, 0.2);
	border-radius: 5px;
}

.imgCards {
	margin-bottom: 80px;
}
.imgCards__header {
	max-width: 682px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}
.imgCards__header_title {
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 30px;
}
.imgCards__header_text {
	color: #666666;
	line-height: 150%;
}
.imgCards__list {
	display: flex;
	justify-content: space-between;
}
.imgCards__item {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	text-align: center;
	max-width: 370px;
	margin-bottom: 50px;
	border-radius: 5px;
}
.imgCards__title {
	font-size: 24px;
}
.imgCards__text {
	line-height: 150%;
	color: #aaaaaa;
	padding: 0 10px;
}
.imgCards__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
.imgCards__btn::after {
	content: url(img/main/iconBtn.png);
	padding-top: 1px;
}
